[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "abodOutlier"]
	path = abodOutlier
	url = https://github.com/josejimenezluna/abodoutlier
	shallow = true
	registered = true
[submodule "odseq"]
	path = odseq
	url = https://git.bioconductor.org/packages/odseq
	shallow = true
	registered = true
