[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "abodOutlier"]
	path = abodOutlier
	url = https://github.com/josejimenezluna/abodoutlier
